<footer class="footermain">
  <div class="top-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2 class="heading-footer">
              Our Mission
          </h2>
          <p class="footerleft-text">
              Our Values are the way we consistently achieve our Mission. At Moon Magic Money we value getting 
              results, honesty, teamwork, building exceptional products & services & most of all putting clients 
              & partners first by offering the best services possible to them.
          </p>
        </div>
        <div class="col-md-2">
          
        </div>
        <div class="col-md-3">
            <h2 class="heading-footer">
                Quick Links
            </h2>
            <ul class="footerUl">
              <li><a routerLink="/about">About Us</a></li>
              <li><a href="">Product</a></li>
              <li><a href="">Franchise</a></li>
              <li><a href="">Plan</a></li>
              <li><a routerLink="/legal">Legal</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2 class="heading-footer">
                Get In Touch
            </h2>
            <ul class="socialIcons">
                <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                <li><a href=""><i class="fab fa-twitter"></i></a></li>
                <li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
            </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-footer">
      Copyright © 2017 Moon Magic Money. All Rights Reserved. Design and Developed by <a href="" class="text-white"> <b>skylarkinfotech</b> </a> 
  </div>
</footer>

<router-outlet></router-outlet>