<section class="registration-main">
  <div class="container">
    <h1 class="heading-registration">
      Regis<span>tration</span>
    </h1>
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="registration-box text-left">
            <form>
                <div class="form-group">
                  <label for="">Sponser Id</label>
                  <input type="text" class="form-control" id="" aria-describedby="" placeholder="Sponser Id">
                </div>
                <div class="form-group">
                  <label for="">Sponser Name</label>
                  <input type="text" class="form-control" id="" aria-describedby="" placeholder="Sponser Name">
                </div>
                
                <div class="form-group">
                  <label for="">Your Epin</label>
                  <input type="password" class="form-control" id="" placeholder="Your Epin">
                </div>
                <div class="form-group">
                  <label for="">Your Name</label>
                  <input type="text" class="form-control" id="" aria-describedby="" placeholder="Your Name">
                </div>
                <div class="form-group">
                  <label for="">Your Phone</label>
                  <input type="tel" class="form-control" id="" aria-describedby="" placeholder="Your Phone">
                </div>
                <div class="form-group">
                  <label for="">Email Id</label>
                  <input type="email" class="form-control" id="" placeholder="Email Id">                  
                </div>
                <div class="form-group">
                  <label for="">Select State</label>
                  <select name="" id="" class="form-control">
                    <option value="Select State">--Select State--</option>
                    <option value="">1</option>
                    <option value="">2</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="">Select District</label>
                  <select name="" id="" class="form-control">
                    <option value="Select District">--Select District--</option>
                    <option value="">1</option>
                    <option value="">2</option>
                  </select>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="">
                  <label class="form-check-label" for="">I Agree with Terms & Condition</label>
                </div>
                <button type="submit" class="btn btn-primary my-4">Submit</button>
            </form>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>