<section class="aboutpage-main">
  <div class="container">
    <h1 class="heading-about text-center">
        About Us 
      <span>Moon Magic Money</span>
    </h1>
    <p class="about-para text-center">
      Our Values are the way we consistently achieve our Mission. At Moon Magic Money we value getting results, 
      honesty, teamwork, building exceptional products & services & most of all putting clients & partners first 
      by offering the best services possible to them.
    </p>
  </div>
</section>

<app-footer></app-footer>