<section class="contact-main">
  <div class="container">
      <h1 class="heading-contact text-center">
          Get 
        <span>In Touch</span>
      </h1>

      <div class="row">
        <div class="col-md-6">
          <div class="contact-card">
            <h2>KAJWAS TRADE INDIA PVT. LTD.</h2>
            <p class="text-center">
                2161/T6, Office No.201, Lal Rattan Building Arjun Nagar, <br>
                Shadikhampur, Delhi-110008 <br>
                Support Time :	10:00am To 10:00pm 7 Days
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="contact-card">
            <h2>Contact Us</h2>
            <p class="text-center">
                Email ID : info@moonmagicmoney.com	 <br>
                Contact No. : +91-9910 44 8419<br>
                Whatsapp No. : +91-9555 11 2252
            </p>
          </div>
        </div>
      </div>
  </div>
</section>

<app-footer></app-footer>