<div class="topbar-bg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 top-header-left">
        <div class="pull-left">
            <p class="topheader-para">
                <span>
                    <i class="fas fa-mobile-alt"></i>
                    +91-9555 11 2252
                </span>
                <span>
                    <ul class="social-icons">
                        <li><i class="fab fa-facebook-f"></i></li>
                        <li><i class="fab fa-twitter"></i></li>
                        <li><i class="fab fa-google-plus-g"></i></li>
                    </ul>
                </span>
                <span>
                    <i class="fas fa-envelope"></i>
                    support@moonmagicmoney.com 
                </span>
                
            </p>
            
        </div>
      </div>
      <div class="col-md-6 top-header-right">
        <div class="text-right">
            <ul class="social-icons">
                <li>
                  <a routerLink="/registration" class="text-white">Registration</a>
                </li>
                <li>
                    <a routerLink="/login" class="text-white">Login</a>
                </li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>
