<section class="state-main">
    <div class="container">
        
        <table *ngFor="let data of datastate" class="table col-md-6 mx-auto my-4 justify-content-center bg-light">
            <tr>
              <td>Name: </td>
              <td>{{data.name}}</td>
            </tr>
            <tr>
              <td>City: </td>
              <td>{{data.city}}</td>
            </tr>
            <tr>
              <td>Whats-app Number: </td>
              <td>{{data.whatsapp}}</td>
            </tr>
            <tr>
              <td>Paytm Number: </td>
              <td>{{data.paytm}}</td>
            </tr>
          </table>
    </div>
  </section>
  <app-footer></app-footer>