<section class="forgetpass-main">
    <div class="container">
      <h1 class="heading-forgetpass">
        Forget<span> Password</span>
      </h1>
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="forgetpass-box text-left">
              <form>
                  <div class="form-group">
                    <label for="">User Id</label>
                    <input type="text" class="form-control" id="" aria-describedby="" placeholder="User Id">
                  </div>
                  
                  
                  <button type="submit" class="btn btn-primary my-4">Recover</button>
                  <a routerLink="/login" class="pull-right"> Back to Login</a>
              </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <app-footer></app-footer>