<section class="products-main">
  <div class="container">
    <h1 class="heading-products text-center">
      Our 
      <span>Fundamental Courses</span>
    </h1>

    <div class="row">
      <div class="col-md-3">
        <div class="imag">
          <img src="../../assets/pro1.jpg" alt="">
        </div>
      </div>
      <div class="col-md-3">
        <div class="imag">
          <img src="../../assets/pro1.jpg" alt="">
        </div>
      </div>
      <div class="col-md-3">
        <div class="imag">
          <img src="../../assets/pro1.jpg" alt="">
        </div>
      </div>
      <div class="col-md-3">
        <div class="imag">
          <img src="../../assets/pro1.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>