
<!-- banner section starts here -->
<div class="banner-home">
  <img src="../../assets/ban_img4.jpg" class="bannerimg" alt="">
</div>
<!-- banner section ends here -->
<!-- about company section starts here -->
<div class="banner-home home-equaltopbottompadding">
  <div class="container">
      <h1 class="text-center py-2">About Moon Magic Money</h1>
      <p class="text-center py-2">
        It is great pleasure for us that you chose us for <b>your financial freedom</b>. Here you can get everything, 
        which will help you to do the better business and can make money (Earning While Learning) & happiness 
        prosperty in your life.
        Here we are giving you useful & branded product, best service and also more income as an Pioneer Trading 
        , where not only you can earn money, you can develop your personality, dressing sense, team management ability, 
        attitude towards life and grow-up yourself.
      </p>
  </div>
</div>

<!-- about company section ends here -->

<!-- learning online section starts here -->
<section class="learningonline-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
          <h2 class="text-left text-white py-2">Learning online is easier than ever before</h2>
          <p class="text-left text-white py-2">
              Make the people more productive & financially strong by introducing Smart Concept for every Individuals to succeed 
              in your mission. 
              Smart strategies for the long term benefits with small start. Get the control of your finances with better future.
          </p>
      </div>
      <div class="col-md-6">
        <div>
          <img src="../../assets/image.png" class="learningsideimg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>


<!-- learning online section ends here -->

<!-- service column section starts here -->
<section class="servicecolumn">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <figure>
          <img src="../../assets/features-01.png" alt="">
        </figure>
        <h2 class="service-heading">Legal Company</h2>
        <p>
            Moon Magic Money is an India company that has official state 
            registration and it fully complies with financial and international legislation.
        </p>
      </div>
      <div class="col-md-4">
        <figure>
          <img src="../../assets/features-02.png" alt="">
        </figure>
        <h2 class="service-heading">Total Transparency</h2>
        <p>
            Transparency of activities and openness of the company 
            makes cooperation with us not only profitable but also creatively filled with a process.s
        </p>
      </div>
      <div class="col-md-4">
        <figure>
          <img src="../../assets/features-04.png" alt="">
        </figure>
        <h2 class="service-heading">Fully Secure</h2>
        <p>
            Certificate Authorities grant Extended Validation 
            certificates to an organization only after the Certificate Authority verifies.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- service column section ends here -->

<app-footer></app-footer>


