<section class="achievement-main">
  <div class="container">
    <h1 class="heading-achievement text-center">
        Achieve 
      <span>ment</span>
    </h1>
    <div class="row">
      <div class="col-md-6">
        <div class="box-achi">
          <h3>Royalty</h3>
          <p>When you make 20-Direct joining, under your ID, then you start getting royalty income (lifetime). 
            Here you get your share of 10% of daily turnover of the company (distributed in all royalty holders).</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="box-achi">
          <h3>Active Royalty Income</h3>
          <p>
              To get this income, you have to make, 1-direct joining within every 3-days under your royalty ID. 
              By not doing this ID automatically gets out of “Active Royalty-List”. 
              Again, when you make direct-joining under this ID, you start getting active royalty income.
          </p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="box-achi">
          <h3>Upgrade Direct Income</h3>
          <p>
              Whenever, any direct joined person (by you) upgrades it’s ID. You get the 10% of the upgradation amount.
          </p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="box-achi">
          <h3>Franchise Income</h3>
          <p>
              To get franchise income, first time you have to purchase E-pin from company of Rs. 5000/- 
              on this company will give discount of 10%. 
              After this whenever you purchase E-pin from company you get discount of 10%.
          </p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="box-achi">
          <h3>Topper Income</h3>
          <p>
              Company gives a good-gift to the person who names maximum direct joining.
          </p>
        </div>
      </div>

    </div>
  </div>
</section>

<app-footer></app-footer>