<section class="plan-main">
  <div class="container">
    <h1 class="heading-plan text-center">
      Our 
      <span>Opportunity</span>
    </h1>

    <div class="row">
      <div class="col-md-6">
        <table class="table busi responsive-table">
            <tbody>
                <tr> <td colspan="4" style=" font-size:34px!important;" class="top_hed_tab">
                    STAR</td></tr>
                  <tr style=" display:none;"> <td colspan="4" class="rate_bot3"> <h4>Rs 100</h4> </td></tr>
            </tbody>
            <tbody>
                <tr>
                  <th>LEVEL</th>
                  <th>MEMBER</th>
                  <th>RS</th>
                  <th>INCOME</th>
                </tr>
                <tr>
                  <td>1</td>
                  <td>3</td>
                  <td>5</td>
                  <td>15</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>9</td>
                  <td>5</td>
                  <td>45</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>27</td>
                  <td>5</td>
                  <td>135</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>81</td>
                  <td>5</td>
                  <td>405</td>
                </tr>
                <tr> <td colspan="4" style="font-size: 26px!important;" class="rate_bot">Total : 442860</td></tr>
            </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <div class="rightside-card">
          <h3 class="headingright-card">STAR LEVEL</h3>
          <p class="para-card">
            This is an autofill plan of matrix 3x3, after your joining whenever you make any direct joining you get income of (Rs.25+Rs.5 = Rs.30)
          </p>
        </div>
      </div>
    </div>
  </div>

  
</section>

<app-footer></app-footer>